<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->


    <div th:if="${promotion.storeIDs != null and not #lists.isEmpty(promotion.storeIDs)}">
        <h2 th:text="'Promotion #' +' '+ ${promotion.id}"></h2>

        <h2>Associated Stores</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Store Number</th>
                <th>View</th>
                <th>Edit</th>
                <th>Status</th>
            </tr>
            <tr th:each="store : ${stores}">
                <td th:text="${store.id}"><a href="/promotion/${promotion.id}">Id</a></td>
                <td th:text="${store.name}">Name</td>

                <td th:text="${store.storeNumber}">Store Number</td>

                <td><a th:href="${ '/promotion/' + promotion.id}">View</a></td>
                <td><a th:href="${'/promotion/edit/' + promotion.id}">Edit</a></td>
            </tr>
        </table>

        <h2>Associated Products</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Product Number</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"><a href="/promotion/${promotion.id}">Id</a></td>
                <td th:text="${product.description}">Description</td>

                <td th:text="${product.productId}">Product Number</td>

                <td><a th:href="${ '/promotion/' + promotion.id}">View</a></td>
                <td><a th:href="${'/promotion/edit/' + promotion.id}">Edit</a></td>
            </tr>
        </table>


    </div>
</div>

</body>
</html>